services:

    frontend:
        build:
            context: .
            dockerfile: dev.dockerfile
        ports:
            - "3000:3000"
        volumes:
            - ./src:/var/www/html
            - /var/www/html/node_modules
        environment:
            - NODE_ENV=development
        networks:
            - default
            - graduation-filament-cms_default

    cypress:
        image: cypress/included:13.15.0
        container_name: cypress
        depends_on:
            - frontend
        environment:
            - CYPRESS_baseUrl=http://frontend:3000
        volumes:
            - ./src:/e2e
        working_dir: /e2e

networks:
    graduation-filament-cms_default:
        external: true